body{
  background-image: url("../Image/background.jpg");
  background-size: cover;
  font-family: sans-serif;
}

header{
  background-color: #444444;
  color: white;
}

footer{
  background-color: #444444;
  color: white;
}

section{
  background-color: white;
}

a{
  color: white;
}

header,
section,
footer {
  margin: 20px;
  padding: 10px;
}

img{
  width: 100%;
  border-radius: 1%;
}
